<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Confirmação de Cadastro</title>
    <style>
      h2 { color: #1e1e1e; } h3 { color: #212121; } p { color: #3f3f3f; } h4 {
      color: #303030; } li { color: #484848; }
    </style>
  </head>
  <body>
    <br />
    <h2>Olá, {{name}}.</h2>
    <h3>Bem-vindo!</h3>
    <br />
    <p>Recebemos seus dados e seu cadastro foi realizado com sucesso!</p>
    <p>É um prazer ter você como cliente!</p>
    <p>Agora você está apto a realizar procedimentos de teleatendimento!</p>
    <br />
    <h4>Confira abaixo suas informações:</h4>
    <ul>
      <li>Nome: {{name}}</li>
      <li>CPF: {{cpf}}</li>
      <li>Data de Nascimento: {{birthday}}</li>
      <li>Gênero: {{gender}}</li>
      <li>Email: {{email}}</li>
      <li>Telefone: {{mobile}}</li>
      <li>Endereço: {{address}}</li>
    </ul>
    <br />
    <p><span>Qualquer divergência nas informações acima, entre em contato com o
        suporte.</span></p>
  </body>
</html>